body,html {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar-child {
  padding: 0px 10px;
}

.fill {
  width: 100%;
  height: 100%;
}

.app-fab {
  z-index: 9999;
  position: fixed !important;
}

.bottom-left {
  bottom: 25px;
  left: 25px;
}

.bottom-right {
  bottom: 25px;
  right: 25px;
}

.top-left {
  top: 25px;
  left: 25px;
}

.top-right {
  top: 25px;
  right: 25px;
}

body {
  padding-top: 60px;
}
/* This is only if the navbar has contents that need to be compressed to a menu on resize. We should probably check on that */
/* @media (max-width: 979px) {
  
  body {
    padding-top: 0px;
  }
} */